.isomorfos-container {
  display: flex;

  .ui-bar {
    display: flex;
    align-items: center;
    padding: 20px 0;

    span {
      margin-left: 40px;
      font-size: 28px;

      b {
        background-color: rgb(202, 202, 90);
        padding: 2px 30px;
        border-radius: 5px;

        &.isoMorph {
          background-color: rgb(101, 160, 86);
        }

        &.no-isoMorph {
          background-color: rgb(193, 81, 75);
        }
      }
    }

    .state-btn {
      justify-self: end;
      margin-left: 540px;
    }
  }

  .state {
    border: 1px solid;
    border-radius: 3px;

    width: 400px;
    margin-left: 40px;
    padding: 20px;
    background-color: rgb(30, 29, 30);

    color: white;
    th {
      color: white;
    }

    .info {
      margin-top: 30px;

      .chakra-table__container {
        width: 198px;
        border: 1px solid;
        border-radius: 2px;
      }
    }

    &.hide {
      opacity: 0;
    }
  }
}
