[data-theme='dark'] {
  .panel-view,
  .screen {
    border-color: var(--chakra-colors-whiteAlpha-300);
  }

  td,
  th {
    border-color: white;
  }
}

[data-theme='light'] {
  .panel-view,
  .screen {
    border-color: var(--chakra-colors-gray-200);
  }

  td,
  th {
    border-color: black;
  }
}
